{% extends "layout.html" %}

#{% set active_page = "home" %}

{% block title %}Home Page - Video Game Data{% endblock %}

{% block content %}

<h1> About Video Game Data </h1>
<p> The data used in this website are all found in the CORGIS dataset project, and is found <a href="https://corgis-edu.github.io/corgis/json/video_games/".>here.</a> The data found in this list ranges from 2004 to 2008. The information on the dataset was gathered from crowd-sourced data on "How Long to Beat". </p>

<p> A statistic that was mentioned in the data was the length of certain playstyles. These numbers were measured in hours, and mean the following: </p>
<li> Anything with All Playstyles: Any way to complete the game. Ranges from getting the least possible things to complete the game, to the most possible things to complete the game. </li>
<li> Anything with Completionists: Doing everything possible in the game. </li>
<li> Anything with Main + Extras: Doing everything that is the main and major extra parts of the game.
<li> Anything with Main Story: Completing the main story. 
<li> Average: the average amount of time that it took for people to finish the game. </li>
<li> Leisure: The slowest time that it took someone to finish the game. </li>
<li> Median: The median time that it took someone to finish the game. </li>
<li> Rushed: The fastest time someone took to finish the game. </li>
<li> Polled: How many people responded to the form for each section. </li>

<p> Another one of the statistics that is listed is whether a game is licensed or not. If a game is licensed, it means that it is based off a previous licensed game/other thing. Basically, they use assets and other things from another entity. </p> 

{% endblock %}
